@import'./reset';

body{
    background-color: hsl(210, 46%, 95%);
    // 

}
main{
    
    
    max-width: 1800px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;

    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);



  
  


}

.container{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    width: 80%;
    max-width: 1300px;

    
    article{
        
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 1.5rem;
        font-family:  Condensed, sans-serif;
        div{
            display: flex;
            &.nom{
                display: flex;
                flex-direction: column;
                
            }
            img{border-radius: 50%;
                width: 2rem;
                border: 2px solid  hsl(0, 0%, 50%);
            }
            // padding: 1rem;
        }
        &.Daniel,  &.Patrick, &.Jonathan, &.Jeanette, &.Kira{
            background-color: hsl(263, 55%, 52%);
            h2{
                color: hsl(0, 12%, 93%);
                padding: 1rem 0rem;
                font-weight:bold;
            }
            em{
                color: hsl(0, 0%, 80%); 
                padding: 0rem 1rem 0.5rem 0.75rem;
                font-size: 0.8rem;
            }
            strong{
                color: hsl(0, 0%, 60%);
                font-size: 0.8rem;
                padding-left: 0.75rem;
            }
            blockquote{
                color: hsl(0, 0%, 60%);
                font-size: 0.8rem;
            }

        }
        &.Patrick{
            background-color:hsl(219, 29%, 14%) ;
        }
        &.Jonathan{
            background-color: hsl(217, 19%, 35%);

        }
        &.Jeanette, &.Kira{
            background-color: white;
            h2{
                color: hsl(0, 2%, 30%);
               
            }
            em{
                color: hsl(0, 1%, 24%); 
                
            }
            strong{
                color: hsl(0, 0%, 60%);
                
            }
        } 
        &.Daniel{
            grid-column: 1 / span 2;
           grid-row: 1;
        } 
        &.Kira{
            grid-column: 4;
           grid-row: 1/span 2;
        }
        &.Patrick{
            grid-row: 2;
            grid-column: 2/span 2;
          
        }
    
    
    }
}
