@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset perso */
a, del, ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label, button {
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

input, button {
  outline: 0;
}

body {
  background-color: #ecf2f8;
}

main {
  max-width: 1800px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  /* postulat de départ */
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  width: 80%;
  max-width: 1300px;
}

.container article {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  font-family: Condensed, sans-serif;
}

.container article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container article div.nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container article div img {
  border-radius: 50%;
  width: 2rem;
  border: 2px solid gray;
}

.container article.Daniel, .container article.Patrick, .container article.Jonathan, .container article.Jeanette, .container article.Kira {
  background-color: #7541c8;
}

.container article.Daniel h2, .container article.Patrick h2, .container article.Jonathan h2, .container article.Jeanette h2, .container article.Kira h2 {
  color: #efebeb;
  padding: 1rem 0rem;
  font-weight: bold;
}

.container article.Daniel em, .container article.Patrick em, .container article.Jonathan em, .container article.Jeanette em, .container article.Kira em {
  color: #cccccc;
  padding: 0rem 1rem 0.5rem 0.75rem;
  font-size: 0.8rem;
}

.container article.Daniel strong, .container article.Patrick strong, .container article.Jonathan strong, .container article.Jeanette strong, .container article.Kira strong {
  color: #999999;
  font-size: 0.8rem;
  padding-left: 0.75rem;
}

.container article.Daniel blockquote, .container article.Patrick blockquote, .container article.Jonathan blockquote, .container article.Jeanette blockquote, .container article.Kira blockquote {
  color: #999999;
  font-size: 0.8rem;
}

.container article.Patrick {
  background-color: #19212e;
}

.container article.Jonathan {
  background-color: #48556a;
}

.container article.Jeanette, .container article.Kira {
  background-color: white;
}

.container article.Jeanette h2, .container article.Kira h2 {
  color: #4e4b4b;
}

.container article.Jeanette em, .container article.Kira em {
  color: #3e3d3d;
}

.container article.Jeanette strong, .container article.Kira strong {
  color: #999999;
}

.container article.Daniel {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.container article.Kira {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
}

.container article.Patrick {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/span 2;
}
/*# sourceMappingURL=style.css.map */