* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: #2ab2af;
  --bright-yellow: #c0df34;
  --grayish-blue: #98a6bd;
  --light-gray: #e5eff5;
  background-color: var(--light-gray);
}

ul {
  list-style: none;
}

main {
  /* viewport height */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: relative; */
}

.card {
  max-width: 610px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.community {
  background-color: #fff;
  padding: 32px;
}

h1 {
  color: var(--cyan);
  font-size: 30px;
  margin-bottom: 32px;
}

.community__subtitle {
  color: var(--bright-yellow);
  font-size: 22px;
  margin-bottom: 16px;
}

.community p {
  /* opacity: 0.25; */
  color: var(--grayish-blue);
  line-height: 1.75;
}

.bottom {
  display: flex;
}

.subscription,
.why {
  color: #fff;
  width: 50%;
  padding: 32px;
  border: none;
}

.subscription h2,
.why h2 {
  font-size: 20px;
  margin-bottom: 24px;
}

.subscription {
  background-color: var(--cyan);
}

.subscription__price {
  font-size: 32px;
}

.subscription__price--suffix {
  opacity: 0.5;
  font-weight: bold;
}

.subscription p {
  margin-top: 8px;
  margin-bottom: 16px;
}

.subscription__link {
  color: #fff;
  background-color: var(--bright-yellow);
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 16px 0;
  border-radius: 5px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}

.why {
  background-color: #5ec1c3;
}

.why li {
  opacity: 0.8;
  line-height: 1.3;
}

.flex {
  border: 4px solid black;
  width: 100%;
  height: 320px;
  background-color: #444;
  color: #fff;
  display: flex;

  /* valeur par défaut */
  flex-direction: column;

  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  /* valeur par défaut */
  flex-wrap: nowrap;
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */

  /* valeur par défaut */
  /* justify-content: flex-start; */

  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: center; */

  /* valeur par défaut */
  /* align-items: stretch; */

  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: baseline; */
}

.flex p {
  /* display: flex;
  align-items: center; */
  padding: 8px;
  border: 2px solid #888;
}

.para1 {
  /* height: 100px; */
}

.para2 {
  /* height: 50px; */
  /* align-self: flex-end; */
}

.para3 {
  /* height: 180px; */
}

.para4 {
  /* height: 140px; */
}
