header {
  display: flex;
  flex-direction: column;
  max-width: var(--maxwidth);
  width: 100%;
  background-image: url('../images/Mask\ Group\ 1.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  padding: 2rem;
  margin: auto;
}

header div:first-child {
  position: fixed;
  max-width: var(--maxwidth);
  width: 100%;
  top: 2rem;
  left: 50%;
  padding: 1rem 0;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
}

.burger {
  display: none;
}

header nav ul li {
  text-transform: capitalize;
}

header nav ul li:not(li:last-child) {
  margin-right: 1.5rem;
  color: #888;
  transition: all 1000ms;
}

header nav ul li:not(li:last-child):hover {
  color: var(--primary-color);
  transform: scale(1.1);
  transition: all 250ms;
}

header nav ul li:last-child {
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 500ms;
}

header nav ul li:last-child:hover {
  transform: scale(1.05);
  transition: all 250ms;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

header div:last-child {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

header div:last-child p,
h1 {
  text-align: center;
  width: fit-content;
}

header div:last-child a {
  color: #17aca2;
  transition: all 200ms;
}

header div:last-child a:hover {
  color: #17c8bd;
  text-decoration: underline;
}
