/*

  Unités absolues
  px (pixel)

  Unités Relatives
  unités -> relatives à
  vh (viewport height) -> 1% de la hauteur de la zone d'affichage (viewport)
  vw (viewport width) -> 1% de la largeur de la zone d'affichage (viewport)
  % (pourcentage) -> Une valeur de type % représente une fraction d'une autre valeur de référence.
  em ->	La taille de police de l'élément parent
  rem -> La taille de police de l'élément racine
*/

@import './reset';

:root {
  --primary-color: #410ef8;
  --maxwidth: 1400px;
  color: #222;
}

@import './header';

main {
  margin: 0 auto;
  padding: 6rem 2rem;
  max-width: var(--maxwidth);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main article {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  width: 25%;
  transition: all 250ms;
}

main article:hover {
  transform: scale(1.025);
}

main article:nth-child(2) {
  background-color: var(--primary-color);
  color: #fff;
}

main article div:first-child {
  display: flex;
  flex-direction: column;
}

main article h2 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 1rem;
}

main article strong {
  font-size: 2em;
  font-weight: bold;
}

main article div:first-child span {
  color: #aaa;
}

main article div:first-child a {
  margin: 1rem 0;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  transition: all 250ms;
  border: 1px solid transparent;
}

main article:nth-child(odd) {
  border: 1px solid rgba(100, 100, 100, 0.75);
}

main article:nth-child(odd) div:first-child a {
  background-color: var(--primary-color);
  color: #fff;
}

main article:nth-child(odd) div:first-child a:hover {
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
}

main article:nth-child(even) div:first-child a {
  color: var(--primary-color);
  background-color: #fff;
}

main article:nth-child(even) div:first-child a:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid #fff;
}

main article ul li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

main article ul li div {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
}

main article ul li img {
  width: 75%;
}

main article:nth-child(odd) ul li div {
  background-color: rgb(179, 128, 236);
}

main article:nth-child(even) ul li div {
  background-color: #fff;
}

// max-width : de 0 à la taille spécifiée
// min-width: à partir de la taille spécifiée

// @media (orientation: landscape) {
//   body {
//     color: red;
//   }
// }

// @media (orientation: landscape) and (max-width: 700px) {
//   body {
//     color: red;
//   }
// }

@media screen and (max-width: 500px) {
  main {
    margin-top: 10rem;
  }
}

@media (max-width: 690px) {
  header {
    nav {
      ul {
        display: none;
      }

      .burger {
        display: block;
      }
    }
  }
}

@media (max-width: 1300px) {
  main {
    flex-direction: column;

    article {
      margin: 2rem auto;
      width: 90%;
      max-width: 500px;
    }
  }
}

@media (max-width: 1500px) {
  header {
    width: 80%;

    div:first-child {
      width: 80%;
    }
  }

  main {
    width: 80%;
  }
}

// @media print and (max-width: 1300px) {
// }
