@charset "UTF-8";
/*

  Unités absolues
  px (pixel)

  Unités Relatives
  unités -> relatives à
  vh (viewport height) -> 1% de la hauteur de la zone d'affichage (viewport)
  vw (viewport width) -> 1% de la largeur de la zone d'affichage (viewport)
  % (pourcentage) -> Une valeur de type % représente une fraction d'une autre valeur de référence.
  em ->	La taille de police de l'élément parent
  rem -> La taille de police de l'élément racine
*/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset perso */
a, del, ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label, button {
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

input, button {
  outline: 0;
}

:root {
  --primary-color: #410ef8;
  --maxwidth: 1400px;
  color: #222;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: var(--maxwidth);
  width: 100%;
  background-image: url("../images/Mask Group 1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  padding: 2rem;
  margin: auto;
}

header div:first-child {
  position: fixed;
  max-width: var(--maxwidth);
  width: 100%;
  top: 2rem;
  left: 50%;
  padding: 1rem 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: none;
}

header nav ul li {
  text-transform: capitalize;
}

header nav ul li:not(li:last-child) {
  margin-right: 1.5rem;
  color: #888;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

header nav ul li:not(li:last-child):hover {
  color: var(--primary-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

header nav ul li:last-child {
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

header nav ul li:last-child:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

header div:last-child {
  margin-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

header div:last-child p,
h1 {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header div:last-child a {
  color: #17aca2;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

header div:last-child a:hover {
  color: #17c8bd;
  text-decoration: underline;
}

main {
  margin: 0 auto;
  padding: 6rem 2rem;
  max-width: var(--maxwidth);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  width: 25%;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

main article:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

main article:nth-child(2) {
  background-color: var(--primary-color);
  color: #fff;
}

main article div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main article h2 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 1rem;
}

main article strong {
  font-size: 2em;
  font-weight: bold;
}

main article div:first-child span {
  color: #aaa;
}

main article div:first-child a {
  margin: 1rem 0;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: 1px solid transparent;
}

main article:nth-child(odd) {
  border: 1px solid rgba(100, 100, 100, 0.75);
}

main article:nth-child(odd) div:first-child a {
  background-color: var(--primary-color);
  color: #fff;
}

main article:nth-child(odd) div:first-child a:hover {
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
}

main article:nth-child(even) div:first-child a {
  color: var(--primary-color);
  background-color: #fff;
}

main article:nth-child(even) div:first-child a:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid #fff;
}

main article ul li {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main article ul li div {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.75rem;
}

main article ul li img {
  width: 75%;
}

main article:nth-child(odd) ul li div {
  background-color: #b380ec;
}

main article:nth-child(even) ul li div {
  background-color: #fff;
}

@media screen and (max-width: 500px) {
  main {
    margin-top: 10rem;
  }
}

@media (max-width: 690px) {
  header nav ul {
    display: none;
  }
  header nav .burger {
    display: block;
  }
}

@media (max-width: 1300px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main article {
    margin: 2rem auto;
    width: 90%;
    max-width: 500px;
  }
}

@media (max-width: 1500px) {
  header {
    width: 80%;
  }
  header div:first-child {
    width: 80%;
  }
  main {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */