/*

  Unités absolues
  px (pixel)

  Unités Relatives
  unités -> relatives à
  vh (viewport height) -> 1% de la hauteur de la zone d'affichage (viewport)
  vw (viewport width) -> 1% de la largeur de la zone d'affichage (viewport)
  % (pourcentage) -> Une valeur de type % représente une fraction d'une autre valeur de référence.
  em ->	La taille de police de l'élément parent
  rem -> La taille de police de l'élément racine
*/

:root {
  --primary-color: #410ef8;
  color: #222;
}

header {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
  background-image: url('../images/Mask\ Group\ 1.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  padding: 2rem;
  margin: auto;
}

header div:first-child {
  position: fixed;
  max-width: 1300px;
  width: 100%;
  top: 2rem;
  left: 50%;
  padding: 1rem 0;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  text-transform: capitalize;
}

header nav ul li:not(li:last-child) {
  margin-right: 1.5rem;
  color: #888;
  transition: all 1000ms;
}

header nav ul li:not(li:last-child):hover {
  color: var(--primary-color);
  transform: scale(1.1);
  transition: all 250ms;
}

header nav ul li:last-child {
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 500ms;
}

header nav ul li:last-child:hover {
  transform: scale(1.05);
  transition: all 250ms;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

header div:last-child {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

header div:last-child p,
h1 {
  text-align: center;
  width: fit-content;
}

header div:last-child a {
  color: #17aca2;
  transition: all 200ms;
}

header div:last-child a:hover {
  color: #17c8bd;
  text-decoration: underline;
}

main {
  margin: 0 auto;
  padding: 6rem 2rem;
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main article {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  width: 25%;
  transition: all 250ms;
}

main article:hover {
  transform: scale(1.025);
}

main article:nth-child(2) {
  background-color: var(--primary-color);
  color: #fff;
}

main article div:first-child {
  display: flex;
  flex-direction: column;
}

main article h2 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 1rem;
}

main article strong {
  font-size: 2em;
  font-weight: bold;
}

main article div:first-child span {
  color: #aaa;
}

main article div:first-child a {
  margin: 1rem 0;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  transition: all 250ms;
  border: 1px solid transparent;
}

main article:nth-child(odd) {
  border: 1px solid rgba(100, 100, 100, 0.75);
}

main article:nth-child(odd) div:first-child a {
  background-color: var(--primary-color);
  color: #fff;
}

main article:nth-child(odd) div:first-child a:hover {
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
}

main article:nth-child(even) div:first-child a {
  color: var(--primary-color);
  background-color: #fff;
}

main article:nth-child(even) div:first-child a:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid #fff;
}

main article ul li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

main article ul li div {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
}

main article ul li img {
  width: 75%;
}

main article:nth-child(odd) ul li div {
  background-color: rgb(179, 128, 236);
}

main article:nth-child(even) ul li div {
  background-color: #fff;
}
