/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset perso */
a, del, ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label, button {
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

input, button {
  outline: 0;
}

body {
  background-image: url("../images/bg-desktop.svg");
  background-color: #674baf;
  padding: 3rem 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

body header img {
  width: 100px;
  padding-bottom: 3rem;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .image {
  width: 50%;
}

body main .image img {
  width: 100%;
}

body main .article {
  color: white;
  width: 45%;
  padding-left: 2.25rem;
}

body main .article h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

body main .article p {
  padding-top: 2rem;
  color: #a6a0a6;
  line-height: 1.5rem;
  font-size: 0.98rem;
  padding-bottom: 1rem;
}

body main .article button {
  padding: 0.5rem 3rem;
  color: #a6a0a6;
  border-radius: 50px;
  border: 1px solid transparent;
}

body main .article button:hover {
  background-color: #e882e8;
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

footer .facebook {
  width: 20px;
  border: 1px solid white;
  border-radius: 100%;
  width: 35px;
  padding: 0.5rem;
}

footer .twitter {
  width: 35px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 0.25rem;
}

footer .instagram {
  width: 35px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 0.25rem;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */