@import "./reset";
@import "./mixin";

body {
    background-image: url("../images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    padding: 3rem 2.5rem;
    font-family: Arial, Helvetica, sans-serif;

    header {
        img {
            width: 100px;
            padding-bottom: 3rem;
        }
    }
    main {
        display: flex;
        // flex-wrap: wrap;
        .image {
            width: 50%;
            img {
                width: 100%;
            }
        }

        .article {
            color: white;
            width: 45%;
            padding-left: 2.25rem;
            h1 {
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.5rem;
            }
            p {
                padding-top: 2rem;
                color: hsl(300, 3%, 64%);
                line-height: 1.5rem;
                font-size: 0.98rem;
                padding-bottom: 1rem;
            }
            button {
                padding: 0.5rem 3rem;
                color: hsl(300, 3%, 64%);
                border-radius: 50px;
                border: 1px solid transparent;
                &:hover {
                    background-color: hsl(300, 69%, 71%);
                    color: white;
                }
            }
        }
    }
}
footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    .facebook {
        width: 20px;
        border: 1px solid white;
        border-radius: 100%;
        width: 35px;
        padding: 0.5rem;
    }
    .twitter {
        width: 35px;
        border: 1px solid white;
        border-radius: 100%;
        padding: 0.25rem;
    }
    .instagram {
        width: 35px;
        border: 1px solid white;
        border-radius: 100%;
        padding: 0.25rem;
        background-color: white;
    }
}
